body {
  margin: 0;
  padding: 0;
}

nav {
  width: 800px;
  margin: 0 auto;

}

nav ul li {
  display: inline;
  margin-right: 20px;
  font-size: 28px;
}

main {
  height: 100vh;
  width: 100%;
  text-align: center;
}

.container {
  width: 350px;
  margin: 15% auto;
}

.container h1 {

}
